* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.controls {
    text-align: center;
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

textarea {
    width: 100%;
    height: 200px; /* Aumentar la altura */
    margin: 10px 0;
    padding: 10px;
    font-family: monospace;
}

#console {
    height: 200px; /* Aumentar la altura */
    background: #333;
    color: #0f0;
}

#reportConsole {
    height: 200px; /* Altura para la nueva consola de reportes */
    background: #222;
    color: #ff0;
}
#errorConsole {
    height: 200px; /* Altura para la nueva consola de errores */
    background: #400;
    color: #f88;
}

